<div class="container mt-5 mb-5">
  <h2 class="mb-4 text-center">Cadastro de Informações</h2>

  <form #formCadastrar="ngForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" [(ngModel)]="cadastrado.name" name="name" id="inputNome" required>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" [(ngModel)]="cadastrado.email" name="email" id="inputEmail" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" [(ngModel)]="cadastrado.telefone" name="telefone" id="inputTelefone" required>
      </div>
      <div class="col-md-6">
        <label for="nascimento" class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" [(ngModel)]="cadastrado.datanascimento" name="datanascimento" id="inputNascimento" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" [(ngModel)]="cadastrado.cpf" name="cpf" id="inputCpf" required>
      </div>
      <div class="col-md-6">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control" [(ngModel)]="cadastrado.endereco" name="endereco" id="inputEndereco" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" [(ngModel)]="cadastrado.cidade" name="cidade" id="inputCidade" required>
      </div>
      <div class="col-md-4">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" [(ngModel)]="cadastrado.estado" name="estado" id="inputEstado" required>
          <option selected disabled>Selecione</option>
          <option *ngFor="let est of categories" [ngValue]="est">
            {{est.name}}
          </option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" [(ngModel)]="cadastrado.cep" name="cep" id="inputCep" required>
      </div>
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg px-5" (click)="savePessoa()" [disabled]="formCadastrar.invalid">
        {{ cadastrado.id ? 'Salvar' : 'Cadastrar' }}
      </button>
      <button type="reset" class="btn btn-secondary btn-lg ms-3 px-4" (click)="limparFormulario()">Limpar</button>
    </div>
  </form>
</div>

